# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Database
*.db
backend/insights.db

# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Logs
*.log
uvicorn.log

# VS Code / IDEs
.vscode/
.idea/
